AMAZONPAY_PUBLIC_KEY_ID=<SANDBOX>
AMAZONPAY_STORE_ID=<amzn1.application-oa2-client.store_id>
AMAZONPAY_MERCHANT_ID=<MERCHANT_ID>
AMAZONPAY_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
...
...
...
-----END PRIVATE KEY-----"